<a href="https://colab.research.google.com/github/maihuong1710/Applied-Data-Science-Capstone/blob/master/Toronto_Neighborhood1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Import necessary libraries
import numpy as np
import pandas as pd

In [2]:
# Read the Postcode table using pandas
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [3]:
# Ignore rows where 'Borough' is 'Not assigned' and then sort the table
df=df[~df.Borough.str.contains('Not assigned')]
df=df.sort_values(by=['Postcode','Borough','Neighbourhood'], ascending=[1,1,1]).reset_index(drop=True)
df.head()

  Postcode      Borough   Neighbourhood
0      M1B  Scarborough         Malvern
1      M1B  Scarborough           Rouge
2      M1C  Scarborough  Highland Creek
3      M1C  Scarborough      Port Union
4      M1C  Scarborough      Rouge Hill

In [0]:
# Assign 'Neighbourhood' the same name as 'Borough' if 'Neighbourhood' is 'Not assigned'
df.loc[df['Neighbourhood'] == 'Not assigned', ['Neighbourhood']] = df['Borough']

In [5]:
# Group 'Neighbourhood' with the same 'Postcode'
df=df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Malvern, Rouge
1        M1C  Scarborough             Highland Creek, Port Union, Rouge Hill
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [6]:
# Display the shape of the table
df.shape

(103, 3)

In [7]:
lat_lon_df=pd.read_csv('http://cocl.us/Geospatial_data')
lat_lon_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [8]:
df_postcode=pd.merge(df, lat_lon_df, how='left', left_on='Postcode', right_on='Postal Code').drop(['Postal Code'], axis=1)
df_postcode

    Postcode      Borough  ...   Latitude  Longitude
0        M1B  Scarborough  ...  43.806686 -79.194353
1        M1C  Scarborough  ...  43.784535 -79.160497
2        M1E  Scarborough  ...  43.763573 -79.188711
3        M1G  Scarborough  ...  43.770992 -79.216917
4        M1H  Scarborough  ...  43.773136 -79.239476
..       ...          ...  ...        ...        ...
98       M9N         York  ...  43.706876 -79.518188
99       M9P    Etobicoke  ...  43.696319 -79.532242
100      M9R    Etobicoke  ...  43.688905 -79.554724
101      M9V    Etobicoke  ...  43.739416 -79.588437
102      M9W    Etobicoke  ...  43.706748 -79.594054

[103 rows x 5 columns]

In [9]:
df_postcode.shape

(103, 5)